{
    api_url: "",
    ws_url: "",
    "description": "Vartalap is an open source personal chat messager. It is design to provide the level of transparency in the personal messaging application with your data.\n\nGithub Repo:\nFlutter App: - https://github.com/ramank775/vartalap\nBackend Server:- https://github.com/ramank775/chat-server \n\nIf you are an open source contributor and interested in contributing towards this app, reach out to me at twitter @vartalap_app\nIf you have found any issue feel free to raise a issue on the Github or email on the developer mail one9x.vartalap@gmail.com"
}